@kaola:registry=http://rnpm.hz.netease.com
@kaola-sc:registry=http://rnpm.hz.netease.com
@kaola-core:registry=http://rnpm.hz.netease.com
@kaola-mkt:registry=http://rnpm.hz.netease.com
@kaola-user:registry=http://rnpm.hz.netease.com
@kaola-icematerials:registry=http://rnpm.hz.netease.com
@kaola-kol:registry=http://rnpm.hz.netease.com
@kaola-arch:registry=http://rnpm.hz.netease.com
@kapp:registry=http://rnpm.hz.netease.com
@netease:registry=http://rnpm.hz.netease.com
