@include b(layout) {
    height: 100%;
}
@include b(header) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 48px;
}
@include b(header-left) {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    @include e(logo) {
        width: 62px;
        height: 34px;
        background-image: url(//haitao.nos.netease.com/a28bce24-b704-47de-9bdc-4e7b54dde91b_2875_1761.svg);
        background-size: contain;
        background-repeat: no-repeat;
    }
    @include e(title) {
        color: #fff;
        font-weight: normal;
    }
}
@include b(header-right) {
    display: inline-block;
    color: #fff;
    font-size: 16px;
    @include e(item) {
        display: inline-block;
        margin-left: 10px;
    }
}
