<kl-layout class="layout">
    <kl-header height="48px" class="header">
        <a href="/" class="header-left">
            <i class="header-left__logo"></i>
            <h1 class="header-left__title">{{title}}</h1>
        </a>
        <ul class="header-right">
            <li class="header-right-item">{userInfo.nickname}</li>
            <li class="header-right-item">
                <a href="javascript:;" class="header-right-item__link" on-click="{this.onLogout()}">退出</a>
            </li>
        </ul>
    </kl-header>
    <kl-layout>
        <kl-aside width="216px">
            <kl-sidebar menus={menus} top="0px" uniqueOpened={false} bodyEl="#app" isHide={isHide} />
        </kl-aside>

        <kl-main isMaster={true} left="216px">
            <div ref="$$mount"></div>
        </kl-main>
    </kl-layout>
</kl-layout>
