<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    ///#aem///
    <meta name="data-spm" content="///{aem.spma}///" />
    <meta name="aes-config" content="pid=///{aem.pid}///"/>
    ////aem///

    <title>///head.title///</title>
    ///#head.styles///
        <link href="///{.}///" rel="stylesheet" type="text/css" />
    ////head.styles///
</head>

<body data-spm="///{aem.spmb}///">
    <div id="app"></div>
    ///#aem///
    <!--引入aplus, AEM需要依赖-->
    <script type="text/javascript" id="beacon-aplus" src="//g.alicdn.com/alilog/mlog/aplus_v2.js" exparams="clog=o&aplus&sidx=aplusSidx&ckx=aplusCkx" async></script>
    <!--引入AEM SDK及插件-->
    <script src="//g.alicdn.com/aes/??tracker/1.0.6/index.js,tracker-plugin-jserror/1.0.3/index.js,tracker-plugin-api/1.0.7/index.js,tracker-plugin-perf/1.0.2/index.js,tracker-plugin-longtask/1.0.1/index.js,tracker-plugin-animFluency/1.0.2/index.js,tracker-plugin-pv/1.0.1/index.js,tracker-plugin-event/1.1.3/index.js,tracker-plugin-tsl/1.0.1/index.js"></script>
    ////aem///

    <script type="text/javascript">
        var NUT_GLOBALS = {
          PUBLIC_PATH: <%= JSON.stringify( webpack.publicPath || '' ) %>,
          STATS_ASSETS_BY_CHUNKNAME: <%= JSON.stringify( webpack.assetsByChunkName ) %>
        }
    </script>

    ///#xfeedback///
    <script type="text/javascript" src="//g.alicdn.com/xfeedback/xf/index.js"></script>
    <script>
        xf.init('///{xfeedback.id}///', {
            allowScreenRecording: true,
            iconVisible: true,
            iconDraggable: true,
            iconPosition: 'bottom right',
        });
    </script>
    ////xfeedback///

</body>
</html>
