/* common */
$unit: 8px;

/* 状态文字默认颜色 */
$primary-color: #00C4C0;
$success-color: #93DD68;
$warning-color: #FFB539;
$info-color: #54A8F7;
$error-color: #F86B6B;

/* 状态文字悬停颜色 */
$primary-color-hover: #21D1C8;
$success-color-hover: #B7EB94;
$warning-color-hover: #FFCA61;
$info-color-hover: #80C6FF;
$error-color-hover: #FF9A96;
